.manageContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 7.9rem;
}

.manageType {
  margin-bottom: 1.5rem;
  background-color: white;
  border-radius: 0.1rem;
  padding: 1rem;
}
.manageType a {
  color: black;
  font-size: 1.05rem;
  font-weight: 500;
}
.manageType a.active {
  color: var(--main-color);
}
.manageType span {
  margin: 0 0.75rem;
}

.manage {
  width: 100%;
  background-color: white;
  border-radius: 0.1rem;
}

.manageHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem 0 1rem;
  margin-bottom: 1rem;
}

.articlesCount {
  font-size: 1.3rem;
  font-weight: 500;
}

.openAddModal-button {
  display: flex;
  align-items: center;
  padding: 0.7rem;
  font-size: 1rem;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #15c756;
  color: white;
  border-radius: 0.1rem;
  line-height: 1;
  transition: all 0.3s;
}
.openAddModal-button:hover {
  background-color: #149c46;
}
.openAddModal-button img {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}

.manageNavbar {
  display: flex;
  align-items: center;
  padding: 1rem;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.1);
}

.manageNavbar h3 {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1;
}

.manageBody {
  position: relative;
  padding: 0 1rem;
  min-height: 20rem;
}

.manageConference-navbarTitle,
.manageArticles-navbarTitle {
  width: 47%;
}

.manageConference-navbarAuthor,
.manageArticles-navbarAuthor {
  width: 30%;
}

.manageConference-navbarCreatedAt,
.manageArticles-navbarCreatedAt {
  width: 13%;
  padding-right: 1rem;
}

.manageConference-navbarEdit,
.manageArticles-navbarEdit {
  width: 8%;
}

.manageItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.25);
}
.manageItem:last-child {
  border-bottom: none;
}

.manageItem h1 {
  font-size: 1rem;
  font-weight: 500;
}

.manageConference-title,
.manageConference-author,
.manageArticle-title,
.manageArticle-author {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  padding-right: 1rem;
}

.manageConference-title,
.manageArticle-title {
  width: 47%;
}

.manageConference-author,
.manageArticle-author {
  width: 30%;
}

.manageConference-createdAt,
.manageArticle-createdAt {
  width: 13%;
  padding-right: 1rem;
}

.manageButtons {
  display: flex;
  align-items: center;
  width: 8%;
}

.manageButtons button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 0.55rem;
  transition: all 0.3s;
}

.manageEditButton {
  background-color: #af59ff;
  margin-right: 0.75rem;
}

.manageDeleteButton {
  background-color: rgb(255, 91, 91);
}
.manageEditButton:hover {
  background-color: var(--main-color);
}
.manageDeleteButton:hover {
  background-color: rgb(255, 0, 0);
}
.manageEditButton:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.manageDeleteButton:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.manageEditButton:disabled:hover {
  background-color: #af59ff;
}
.manageDeleteButton:disabled:hover {
  background-color: rgb(255, 91, 91);
}

.manageButtons button img {
  width: 1.1rem;
  height: 1.1rem;
}
