.conferences {
  margin: 2rem 0;
}

.conferencesList {
  position: relative;
  min-height: 15rem;
}

.conferencesItem {
  display: flex;
  align-items: flex-start;
  padding-bottom: 3rem;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.5);
  margin-bottom: 3rem;
}
.conferencesItem:last-child {
  border-bottom: none;
  margin-bottom: 0;
}

.conferencesItem img {
  width: 14rem;
  height: auto;
  margin-right: 2.5rem;
  border-radius: 0.1rem;
}

.conferencesColumn h1 {
  line-height: 1;
  margin-bottom: 1.3rem;
  font-size: 1.3rem;
  font-weight: 600;
  transition: all 0.3s;
  color: black;
}
.conferencesColumn h1:hover {
  color: var(--main-color);
}

.conferencesDescription {
  margin-bottom: 1.3rem;
}

.conferencesDescription p {
  font-size: 1.1rem;
}

.loadMore {
  color: black;
  position: relative;
  transition: all 0.3s;
}
.loadMore::after {
  overflow: hidden;
  position: absolute;
  content: "";
  bottom: -0.5rem;
  left: 0;
  height: 2px;
  width: 0;
  background-color: var(--main-color);
  transition: all 0.3s;
}
.loadMore:hover {
  color: var(--main-color);
}
.loadMore:hover::after {
  width: 60%;
}
