.conferences {
  margin: 2rem 0;
}

.conferencesList {
  position: relative;
  min-height: 15rem;
}

.conferencesItem {
  display: flex;
  align-items: flex-start;
  padding-bottom: 3rem;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.6);
  margin-bottom: 3rem;
}
.conferencesItem:last-child {
  border-bottom: none;
  margin-bottom: 0;
}

.conferencesItem img {
  width: 14rem;
  height: auto;
  margin-right: 2rem;
  border-radius: 0.1rem;
}

.conferencesColumn h1 {
  line-height: 1;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  transition: all 0.3s;
  color: black;
}
.conferencesColumn h1:hover {
  color: var(--main-color);
}
