.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(36, 37, 50, 0.8);
  z-index: 10;
  overflow-y: scroll;
  padding: 2.5rem 0;
}

.modalContainer {
  display: flex;
  justify-content: center;
}

.modalDialog {
  background-color: white;
  border-radius: 0.1rem;
  overflow: hidden;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #15c756;
  margin-bottom: 1.5rem;
  padding: 1.5rem;
}

.modalHeaderEdit {
  background-color: var(--main-color);
}

.modalTitle {
  font-size: 1.45rem;
  color: white;
  font-weight: 450;
  line-height: 1;
}

.modalClose,
.authorAddBtn,
.autherButton,
.pdfUploadBtn,
.pdfDeleteBtn,
.modalSubmit,
.modalCancel {
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s;
}

.modalClose,
.authorAddBtn,
.autherButton,
.pdfDeleteBtn,
.modalSubmit,
.modalCancel {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalClose {
  background-color: transparent;
}

.modalClose:disabled,
.modalSubmit:disabled,
.modalCancel:disabled {
  cursor: not-allowed;
}

.modalClose img {
  width: 1.5rem;
  height: 1.5rem;
}

.modalForm {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 1.5rem 1.5rem 1.5rem;
}

.modalLabel {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 1rem;
}
.autherLabel {
  margin-bottom: 1rem;
}

.modalInput,
.authorInput,
.authorItem input {
  padding: 0.8rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  border-radius: 0.1rem;
  transition: all 0.3s;
  font-size: 1rem;
  margin-top: 0.5rem;
}

.modalInput,
.authorItem input {
  flex-grow: 1;
}

.modalInput:hover,
.modalInput:focus,
.authorInput:hover,
.authorInput:focus,
.authorItem input:hover,
.authorItem input:focus {
  border: 1px solid rgb(0, 0, 0);
}

.authorInputGroup,
.authorItem,
.pdfUploadGroup,
.pdfNameWrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.authorInput {
  padding-right: 4rem;
}

.authorAddBtn {
  position: absolute;
  right: 0.4rem;
  background-color: #15c756;
  width: 2rem;
  height: 2rem;
  border-radius: 0.6rem;
  margin-top: 0.5rem;
}

.authorAddBtn:hover {
  box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.3);
  background-color: #149c46;
}

.authorAddBtn img {
  width: 1rem;
  height: 1rem;
}

.disabledAuthorAddBtn {
  opacity: 0.5;
  cursor: not-allowed;
}
.disabledAuthorAddBtn:hover {
  background-color: #15c756;
  box-shadow: none;
}

.authorList {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 39rem;
}

.authorItem {
  background-color: rgb(245, 240, 240);
  padding: 0.6rem 0.6rem 0.6rem 0.8rem;
  border-radius: 0.1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.autherButton {
  width: 1.7rem;
  height: 1.7rem;
  border-radius: 0.45rem;
  transition: all 0.3s;
}

.authorEdit {
  margin-left: 1rem;
  background-color: #af59ff;
}
.authorEdit:hover {
  background-color: var(--main-color);
}

.authorDelete {
  background-color: rgb(255, 110, 110);
  margin-left: 0.5rem;
}
.authorDelete:hover {
  background-color: red;
}

.autherButton img {
  width: 1rem;
  height: 1rem;
}
.authorEdit img {
  width: 0.9rem;
  height: 0.9rem;
}

.pdfUploadGroup {
  align-items: normal;
  width: 100%;
  margin: 1rem 0;
  overflow: hidden;
  background-color: rgb(245, 240, 240);
}

.pdfUploadBtn {
  font-size: 1rem;
  background-color: rgb(255, 117, 67);
  color: white;
  padding: 0.3rem 0;
  width: 6.9rem;
}

.pdfUploadBtn:hover {
  background-color: rgb(255, 94, 0);
}

.pdfName {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1rem;
  width: 29.5rem;
  padding: 0.3rem 1.5rem 0.3rem 1.1rem;
}

.pdfDeleteWrapper {
  padding: 0.3rem;
}

.disabledPdfDeleteWrapper {
  opacity: 0;
  visibility: hidden;
}

.pdfDeleteBtn {
  width: 2rem;
  height: 2rem;
  background-color: rgb(245, 240, 240);
  border-radius: 50%;
}

.pdfDeleteBtn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.pdfDeleteBtn img {
  width: 1.4rem;
  height: 1.4rem;
}

.modalEditor {
  width: 39rem;
  height: 20rem;
}

.modalActions {
  display: flex;
  align-items: center;
  margin-top: 4rem;
}

.modalSubmit {
  padding: 0.8rem 0.9rem;
  font-size: 1rem;
  color: white;
  border-radius: 0.1rem;
  line-height: 1;
  margin-right: 1rem;
}

.modalSubmit:hover {
  box-shadow: 1rem 1rem 4rem rgba(0, 0, 0, 0.3);
}

.modalSubmit:disabled {
  opacity: 0.7;
}

.modalSubmit:disabled:hover {
  box-shadow: none;
}

.modalSubmit img {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}

.modalSubmitAdd {
  background-color: #15c756;
}

.modalSubmitAdd:disabled:hover {
  background-color: #15c756;
}

.modalSubmitEdit {
  background-color: #af59ff;
}

.modalSubmitEdit:disabled:hover {
  background-color: #af59ff;
}

.modalSubmitAdd:hover {
  background-color: #149c46;
}

.modalSubmitEdit:hover {
  background-color: var(--main-color);
}

.modalCancel {
  padding: 0.8rem 0.9rem;
  font-size: 1rem;
  color: rgb(46, 46, 51);
  border-radius: 0.1rem;
  line-height: 1;
  background-color: rgba(63, 63, 75, 0.15);
}

.modalCancel:hover {
  color: black;
  background-color: rgba(63, 63, 75, 0.25);
}

.loading {
  width: 1rem;
  height: 1rem;
  border: 0.15rem solid rgba(255, 255, 255, 0);
  border-top-color: rgb(255, 255, 255);
  border-right-color: rgb(255, 255, 255);
  border-bottom-color: rgb(255, 255, 255);
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-right: 0.5rem;
}

.centreLoading {
  margin-right: 0;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
