.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  z-index: 10;
  overflow-y: scroll;
  padding: 2rem 0;
}

.modalContainer {
  display: flex;
  justify-content: center;
}
.modalArticle {
  background-color: white;
  border-radius: 0.1rem;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #15c756;
  margin-bottom: 1.5rem;
  padding: 1.5rem;
}
.editModalHeader {
  background-color: var(--main-color);
}

.modalTitle {
  font-size: 1.45rem;
  color: white;
  line-height: 1;
  font-family: "Averia Serif Libre", serif;
}

.closeModal {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.closeModal:disabled {
  cursor: not-allowed;
}

.closeModal img {
  width: 1.5rem;
  height: 1.5rem;
}

.modalBody {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 1.5rem 1.5rem 1.5rem;
}

.modalLabel {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.modalLabel input {
  padding: 0.8rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  margin-top: 0.5rem;
  border-radius: 0.1rem;
  transition: all 0.3s;
  font-size: 1rem;
}
.modalLabel input:hover,
.modalLabel input:focus {
  border: 1px solid rgb(0, 0, 0);
}

.uploadPDF-file {
  display: flex;
  width: 100%;
  margin-bottom: 1rem;
  position: relative;
  overflow: hidden;
  background-color: rgb(245, 240, 240);
}

.uploadPDF-button {
  font-size: 1rem;
  border: none;
  background-color: rgb(255, 91, 32);
  color: white;
  padding: 0.4rem 0 0.4rem 0;
  cursor: pointer;
  transition: all 0.3s;
  width: 7.2rem;
}
.uploadPDF-button:hover {
  background-color: rgb(255, 55, 0);
}

.pdfNameSelect {
  display: flex;
  align-items: center;
}
.pdfName {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1rem;
  width: 31rem;
  padding: 0.4rem 1.4rem 0.4rem 1.1rem;
}

.uploadPDF-delete {
  padding: 0.4rem;
}
.uploadPDF-deleteHidden {
  opacity: 0;
  visibility: hidden;
}

.uploadPDF-deleteButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border: none;
  cursor: pointer;
  background-color: rgb(245, 240, 240);
  border-radius: 50%;
  transition: all 0.3s;
}
.uploadPDF-deleteButton:hover {
  background-color: rgba(0, 0, 0, 0.08);
}
.uploadPDF-deleteButton img {
  width: 1.4rem;
  height: 1.4rem;
}

.reactQuill {
  width: 41rem;
  height: 20rem;
}

.modalClose-buttons {
  display: flex;
  align-items: center;
  margin-top: 4rem;
}

.modalEdit-or-AddButton {
  display: flex;
  align-items: center;
  padding: 0.8rem 0.9rem;
  font-size: 1rem;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  border-radius: 0.1rem;
  line-height: 1;
  transition: all 0.3s;
  margin-right: 1rem;
}
.modalEdit-or-AddButton:hover {
  box-shadow: 1rem 1rem 4rem rgba(0, 0, 0, 0.3);
}
.modalEdit-or-AddButton:disabled {
  cursor: not-allowed;
  opacity: 0.7;
}
.modalEdit-or-AddButton:disabled:hover {
  box-shadow: none;
}

.modalEdit-or-AddButton img {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}

.addArticle-button {
  background-color: #15c756;
}
.addArticle-button:disabled:hover {
  background-color: #15c756;
}

.editArticle-button {
  background-color: #af59ff;
}
.editArticle-button:disabled:hover {
  background-color: #af59ff;
}

.addArticle-button:hover {
  background-color: #149c46;
}
.editArticle-button:hover {
  background-color: var(--main-color);
}

.cancelModal-button {
  display: flex;
  align-items: center;
  padding: 0.8rem 0.9rem;
  font-size: 1rem;
  border: none;
  outline: none;
  cursor: pointer;
  color: rgb(46, 46, 51);
  border-radius: 0.1rem;
  line-height: 1;
  transition: all 0.3s;
  background-color: rgba(63, 63, 75, 0.15);
}
.cancelModal-button:hover {
  color: black;
  background-color: rgba(63, 63, 75, 0.25);
}

.loading {
  width: 1rem;
  height: 1rem;
  border: 0.15rem solid rgba(255, 255, 255, 0);
  border-top-color: rgb(255, 255, 255);
  border-right-color: rgb(255, 255, 255);
  border-bottom-color: rgb(255, 255, 255);
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-right: 0.5rem;
}
.centreLoading {
  margin-right: 0;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
