header {
  position: absolute;
  top: 2.5rem;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}
header.otherPage {
  position: static;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 3.7rem;
  height: 3.7rem;
  border-radius: 1rem;
  box-shadow: 0 0 5rem rgba(0, 0, 0, 0.25);
}

nav {
  display: flex;
  align-items: center;
}

nav a {
  margin-right: 0.8rem;
  border-radius: 0.8rem;
  transition: all 0.3s;
  line-height: 1;
  padding: 1rem;
}
nav a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
header.otherPage nav a:hover {
  background-color: rgba(201, 201, 201, 0.2);
}

nav a h1 {
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 400;
}
header.otherPage nav a h1 {
  color: black;
}

nav a img {
  width: 1.2rem;
  height: 1.2rem;
  margin-bottom: 0.8rem;
}
