.manageArticles-container {
  position: relative;
  padding: 0 7.7rem;
  margin-bottom: 3rem;
}
.manageArticles {
  background-color: white;
  border-radius: 0.1rem;
  box-shadow: 1rem 1rem 4rem rgba(0, 0, 0, 0.12);
  padding: 1.5rem 0;
  min-height: 70vh;
}
.manageArticles-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  margin-bottom: 1.5rem;
}
.articlesCount {
  font-size: 1.3rem;
  font-weight: 500;
}
.articlesAdd-button {
  display: flex;
  align-items: center;
  padding: 0.8rem 1rem;
  font-size: 1rem;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #15c756;
  color: white;
  border-radius: 0.1rem;
  line-height: 1;
  transition: all 0.3s;
}
.articlesAdd-button:hover {
  background-color: #149c46;
}
.articlesAdd-button img {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}

.manageArticles-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1rem;
  padding-bottom: 1.5rem;
  background-color: rgba(0, 0, 0, 0.1);
  margin-bottom: 1.5rem;
}

.allArticle-selected,
.articleSelected {
  width: 4%;
  height: 1.05rem;
}
.allArticle-selected input,
.articleSelected input {
  width: 1.05rem;
  height: 1.05rem;
}

.manageArticles-navbar h3 {
  font-size: 1.05rem;
  font-weight: 500;
  line-height: 1;
}

.manageArticles-body {
  padding: 0 1rem;
}

.manageArticles-navbarTitle {
  width: 42%;
}
.manageArticles-navbarAuthor {
  width: 27%;
}
.manageArticles-navbarCreatedAt {
  width: 17%;
}
.manageArticles-navbarEdit {
  width: 10%;
}

.manageArticles-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.manageArticles-item h1 {
  font-size: 1.05rem;
  font-weight: 500;
}

.manageArticle-title,
.manageArticle-author {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  padding-right: 2rem;
}

.manageArticle-title {
  width: 42%;
}

.manageArticle-author {
  width: 27%;
}

.manageArticle-createdAt {
  width: 17%;
}

.manageArticle-Buttons {
  display: flex;
  align-items: center;
  width: 10%;
}

.manageArticle-Buttons button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.2rem;
  height: 2.2rem;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 0.5rem;
  transition: all 0.3s;
}

.manageArticle-editButton {
  background-color: #9a36f7;
  margin-right: 0.75rem;
}
.manageArticle-editButton:hover {
  background-color: var(--main-color);
}

.manageArticle-deleteButton {
  background-color: rgb(255, 45, 45);
}
.manageArticle-deleteButton:hover {
  background-color: rgb(232, 7, 7);
}

.manageArticle-Buttons button img {
  width: 1.3rem;
  height: 1.3rem;
}
