.manageArticles-container {
  position: relative;
  padding: 0 7.7rem;
  margin-bottom: 3rem;
}
.manageArticles {
  background-color: white;
  border-radius: 0.1rem;
  box-shadow: 1rem 1rem 4rem rgba(0, 0, 0, 0.12);
  padding: 1rem 0;
  min-height: 70vh;
}
.manageArticles-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  margin-bottom: 1rem;
}

.articlesCount {
  font-size: 1.3rem;
  font-weight: 500;
}

.openAddArticle-button {
  display: flex;
  align-items: center;
  padding: 0.8rem 1rem;
  font-size: 1rem;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #15c756;
  color: white;
  border-radius: 0.1rem;
  line-height: 1;
  transition: all 0.3s;
}
.openAddArticle-button:hover {
  background-color: #149c46;
  box-shadow: 1rem 1rem 4rem rgba(0, 0, 0, 0.3);
}
.openAddArticle-button img {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}

.manageArticles-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1rem;
  padding-bottom: 1.5rem;
  background-color: rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}

.manageArticles-navbar h3 {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1;
}

.manageArticles-body {
  padding: 0 1rem;
}

.manageArticles-navbarTitle {
  width: 47%;
}
.manageArticles-navbarAuthor {
  width: 30%;
}
.manageArticles-navbarCreatedAt {
  width: 15%;
  padding-right: 1.5rem;
}
.manageArticles-navbarEdit {
  width: 8%;
}

.manageArticles-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.25);
}
.manageArticles-item:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}

.manageArticles-item h1 {
  font-size: 1rem;
  font-weight: 500;
}

.manageArticle-title,
.manageArticle-author {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  padding-right: 1.5rem;
}

.manageArticle-title {
  width: 47%;
}

.manageArticle-author {
  width: 30%;
}

.manageArticle-createdAt {
  width: 15%;
  padding-right: 1.5rem;
}

.manageArticle-Buttons {
  display: flex;
  align-items: center;
  width: 8%;
}

.manageArticle-Buttons button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.2rem;
  height: 2.2rem;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 0.55rem;
  transition: all 0.3s;
}
.manageArticle-Buttons button:hover {
  box-shadow: 0.5rem 0.5rem 2.5rem rgba(0, 0, 0, 0.2);
}

.manageArticle-editButton {
  background-color: #af59ff;
  margin-right: 1rem;
}
.manageArticle-deleteButton {
  background-color: rgb(255, 91, 91);
}
.manageArticle-deleteButton:disabled {
  cursor: not-allowed;
}
.manageArticle-editButton:hover {
  background-color: var(--main-color);
}
.manageArticle-deleteButton:hover {
  background-color: rgb(255, 0, 0);
}
.manageArticle-deleteButton:disabled:hover {
  background-color: rgb(255, 91, 91);
  box-shadow: none;
}

.manageArticle-Buttons button img {
  width: 1.2rem;
  height: 1.2rem;
}
